@inherits LayoutComponentBase
@using MyBlazorPwa.Layout
@using Microsoft.AspNetCore.Components
@using MudBlazor

<<<<<<< HEAD
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
=======
<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
   
    

    
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
>>>>>>> b485582e5263573c0eaeb21c058ef4f4bf13f7f2
