@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@code {
    [Parameter]
    public Func<string, Task> OnSectorChange { get; set; }

    private async Task ProcessSector(ChangeEventArgs e)
    {
        var selectedSector = e.Value.ToString();
        if (OnSectorChange != null && selectedSector != null)
        {
            await SaveSectorToCache(selectedSector);
            await OnSectorChange.Invoke(selectedSector);
        }
    }
    
    private async Task  SaveSectorToCache(string sector)
    {
        // Armazena o setor no localStorage
        if (!string.IsNullOrEmpty(sector))
        {
           await localStorage.SetItemAsync("selectedSector", sector);
        }
    }
}


<select @onchange="ProcessSector">
    <option value="Seu Setor">Seu Setor</option>
    <option value="Licitacao">Licitações</option>
    <option value="Fiscalizacao">Fiscalização</option>
    
    <!-- Adicione mais opções aqui se necessário -->
</select>


<style>
    select {
        padding: 10px; /* Espaçamento interno */
        font-size: 16px; /* Tamanho da fonte */
        border: 1px solid #ccc; /* Borda */
        border-radius: 4px; /* Bordas arredondadas */
        cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    }

    /* Estilos adicionais se desejado */
</style>
