@page "/teste"
@inject IJSRuntime JSRuntime

<h3>WebRTC Test</h3>

<div id="messages"></div>
<button @onclick="StartConnection">Iniciar Conexão</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("webrtc.initialize");
    }

    private async Task StartConnection()
    {
        await JSRuntime.InvokeVoidAsync("webrtc.createConnection");
    }
}
