@page "/websocket"
@using System.Threading.Tasks
@inject WebSocketService WebSocketService

<h3>WebSocket Example</h3>
<button @onclick="ConnectWebSocket">Connect</button>

<form id="textForm" @onsubmit="SendMessage">
  <label for="userInput">Insira seu texto:</label>
  <input type="text" id="userInput" @bind="userInput" name="userInput">
  <button type="submit">Enviar</button>
</form>

<p>@receivedMessage</p>

@code {
    private string receivedMessage;
    private string userInput;

    private async Task ConnectWebSocket()
    {
        await WebSocketService.ConnectAsync();
    }

    private async Task SendMessage()
    {
        await WebSocketService.SendAsync(userInput);
    }

    private async Task ReceiveMessage()
    {
        receivedMessage = await WebSocketService.ReceiveAsync();
    }
}
